<form ng-submit="controller.saveBook()">
    <div>
        <div ng-repeat="error in controller.errors.title" style="color:crimson">{{error}}</div>
        <label>Title:</label>
        <input type="text" ng-model="controller.book.title" />
    </div>

    <div>
        <div ng-repeat="error in controller.errors.author" style="color:crimson">{{error}}</div>
        <label>Author:</label>
        <input type="text" ng-model="controller.book.author" />
    </div>

    <div>
        <div ng-repeat="error in controller.errors.pageCount" style="color:crimson">{{error}}</div>
        <label>Page Count:</label>
        <input type="text" ng-model="controller.book.pageCount" />
    </div>

    <div>
        <div ng-repeat="error in controller.errors.genre" style="color:crimson">{{error}}</div>
        <label>Genre:</label>
        <input type="text" ng-model="controller.book.genre" />
    </div>

    <input type="submit" value="Save" /><br />
 
</form>