table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    
}

table tr:nth-child(odd) {
  background-color: #ff7d00;
}
table tr:nth-child(even) {
  background-color: #f3ac48;
}
